.masthead {
    height: 80vh;
    min-height: 500px;
    background-image: url('http://localhost:3000/images/teddy_5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.titre{
    opacity: 75%;
    color: beige;
}
.btn {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-primary {
  font-size: 16px; 
  border: 2px solid #f7941d; 
  background:transparent;
  padding:15px 40px; 
  text-transform:uppercase;
  border-radius:30px;
  color:#f7941d;
}

.btn.btn-primary:hover {
   background:#ffb153;
   border: 2px solid #ffb153;
   color:white;
}
.imageCard{
  object-fit: cover;
}
#panier{
  background-color:#f7941d; 
  border-radius: 10px; 
  height: 2em;
  display: flex;
  align-items: center;
  margin-top: 0.2em;
}
table{
  border-collapse: collapse;
  table-layout: auto;

  border: 1px solid orange;
 
}

#recapitulatif{
  background-color: #f7941d;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  width:50%;
  padding: 1.5em;
}
